.product-information-container{
    width: 50%;
 
    .detail-title{
        border-bottom: 1px solid black;
        .title{
            font-size: 23px;
            font-weight: 600;
            margin-top: 30px;
            margin-left: 40px;
        }
        .label-product-code{
            ul{
                li{
                    display: inline-block;
                    margin: 0 10px;
                    margin-bottom: 30px;
                    span{
                        color: rgb(148, 241, 7);
                    }
                }
            }
        }
    }
    .product-price{
        h4{
            margin:10px 40px;
            color: red;
        }
    }
    .list-size{
        width: 100%;
        display: inline-block;
        span{
            margin: 10px 40px;
        }
        ul{
            list-style: none;
            
            li{
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px 5px;
                background-color: rgba(180, 180, 179, 0.87);
                width: 50px;
                height: 40px;
            }
            li:hover{
                color: white;
            }
        }
        
    }
    .quantity-buy{
        display: flex;
        align-items: center;
        margin: 10px 35px;
        .quantity{
            display: flex;
            height: 50px;
           
            margin-right: 10px;
            .reduce{
                outline: none;
                border: none;
                width: 50px;
                font-weight: 800;
                font-size: 18px;
            }
            .input-quantity{
                width: 50px;
            }
            .increase{
                outline: none;
                border: none;
                width: 50px;
                font-size: 18px;
                font-weight: 800;
            }
          
        }
        .buy{
            text-decoration: none;
            button{
                border: none;
                outline: none;
                font-weight: 600;
                color: white;
                width: 150px;
                height: 50px;
                background-color: red;
            }
        }
        .buy:hover button{
            border: 1px solid red;
            background-color: white;
            color: red;
        }
    }
    
    .summary{
        margin: 10px 40px;
        .phone{
            font-weight: 700;
            a{
                
                color: red;
            }
        }
        .size-chart{
            font-weight: 700;
            a{
                
                color: blue;
            }
        }
    }
}