.product-detail-container{
    width: 100%;
    .header-product-detail{
        width: inherit;
    }
    .content-product-detail{
        width:  inherit;
        display: flex;
        border-bottom: 1px solid gray;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .footer-product-detail{
        
        
        
    }
}