.cart-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    .table-product{
        width: 100%;
        display: flex;
        justify-content: center;
        .table{
            width: 90%;
            tr{
                
                th{
                    
                    text-align: center;
                    width: 25%;
                    border-right: 1px  solid black;
                }
                td{
                    
                    text-align: center;
                    border-right: 1px  solid black;
                }
                .col-quantity{
                    display: flex;
                    justify-content: center;
                    .quantity{
                        display: flex;
                        height: 50px;
                       
                        margin-right: 10px;
                        .reduce{
                            outline: none;
                            border: none;
                            width: 50px;
                            font-weight: 800;
                            font-size: 18px;
                        }
                        .input-quantity{
                            width: 50px;
                        }
                        .increase{
                            outline: none;
                            border: none;
                            width: 50px;
                            font-size: 18px;
                            font-weight: 800;
                        }
                      
                    }
                }
                
            }
            
        }
        
    }
    .pay{
        width: 100%;
       text-align: right;
       .price{
        font-size: 25px;
        margin-right: 100px;
        margin-top: 20px;
        p{
            span{
                color: red;
            }
        }
       }
       .btn_{

        margin-right: 60px;
        button{
                border: none;
                outline: none;
                font-weight: 600;
                color: white;
                width: 150px;
                height: 50px;
                background-color: red;
                margin: 10px 10px;
        }
        :hover button{
            background-color: white;
            color: red;
            border: 1px solid red;
        }
       }
    }
}